$stock-graph-margin-bottom: 10rem;
$stock-graph-margin-left: 8rem;
$stock-graph-margin-right: 10rem;
$stock-graph-margin-top: 5rem;

$stock-graph-background-color: "black";
$stock-graph-height: 50rem - $stock-graph-margin-bottom - $stock-graph-margin-top;
$stock-graph-width: 80rem - $stock-graph-margin-left - $stock-graph-margin-right;
$stock-graph-text-color: "white";
