@font-face {
  font-family: montserrat;
  src: url("./fonts/Montserrat-Regular.ttf");
}

body {
  /* https://www.w3schools.com/cssref/pr_background-position.asp */
  background-attachment: fixed;
  background-color: black;
  background-image: url("./imgs/background copy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  /* https://github.com/JulietaUla/Montserrat */
  font-family: montserrat;

  align-items: center;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.centerpiece {
  font-size: 84px;
}


@media screen and (max-width: 786px) {
  .centerpiece {
    font-size: 48px;
  }
}

@media screen and (max-width: 480px) {
  .centerpiece {
    font-size: 36px;
  }
}
