@font-face {
  font-family: montserrat;
  src: url("./fonts/Montserrat-Regular.ttf");
}

body {
  /* https://www.w3schools.com/cssref/pr_background-position.asp */
  background-attachment: fixed;
  background-color: black;
  background-image: url("./imgs/background copy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  /* https://github.com/JulietaUla/Montserrat */
  font-family: montserrat;

  margin: 0;
}

.bottomBar {
  display: flex;
  flex-direction: row;
}

.centerpiece {
  font-size: 84px;
}

.flexContainer {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.socialLink {
  align-items: center;
  background-color: black;
  border-radius: 25%;
  font-size: 30px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 5px;
  width: 50px;
}
.socialLink a:visited {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 786px) {
  .centerpiece {
    font-size: 48px;
  }
}

@media screen and (max-width: 480px) {
  .centerpiece {
    font-size: 36px;
  }
}
